
vm_mem = "1024"

$host_script = <<SCRIPT
#!/bin/bash
cat > /etc/hosts <<EOF
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

$master_ip $master_name.localdomain $master_name
$slave1_ip $slave1_name.localdomain $slave1_name
$slave2_ip $slave2_name.localdomain $slave2_name
$slave3_ip $slave3_name.localdomain $slave3_name
$slave4_ip $slave4_name.localdomain $slave4_name
EOF
mkdir -p /var/lib/hiera
cat > /var/lib/hiera/defaults.yaml <<EOF
---
zookeepers:
  - $master_name.localdomain
  - $slave1_name.localdomain
  - $slave2_name.localdomain
EOF
SCRIPT

$API_VERSION = "2"
Vagrant.configure($API_VERSION) do |config|

  config.vm.define :master do |master|
    master.vm.box = "centos64"
    master.vm.provider :virtualbox do |v|
      v.name = "$master_name"
      v.customize ["modifyvm", :id, "--memory", vm_mem]
    end
    master.vm.hostname = "$master_name.localdomain"
    master.vm.network :private_network, ip: "$master_ip"
  end

  config.vm.define :slave1 do |slave1|
    slave1.vm.box = "centos64"
    slave1.vm.provider :virtualbox do |v|
      v.name = "$slave1_name"
      v.customize ["modifyvm", :id, "--memory", vm_mem]
    end
    slave1.vm.hostname = "$slave1_name.localdomain"
    slave1.vm.network :private_network, ip: "$slave1_ip"
  end

  config.vm.define :slave2 do |slave2|
    slave2.vm.box = "centos64"
    slave2.vm.provider :virtualbox do |v|
      v.name = "$slave2_name"
      v.customize ["modifyvm", :id, "--memory", vm_mem]
    end
    slave2.vm.hostname = "$slave2_name.localdomain"
    slave2.vm.network :private_network, ip: "$slave2_ip"
  end

  #not a hadoop node
  config.vm.define :slave3 do |slave3|
    slave3.vm.box = "centos64"
    slave3.vm.provider :virtualbox do |v|
      v.name = "$slave3_name"
      v.customize ["modifyvm", :id, "--memory", vm_mem]
    end
    slave3.vm.hostname = "$slave3_name.localdomain"
    slave3.vm.network :private_network, ip: "$slave3_ip"
  end

  #node with kafka
  config.vm.define :slave4 do |slave4|
    slave4.vm.box = "centos64"
    slave4.vm.provider :virtualbox do |v|
      v.name = "$slave4_name"
      v.customize ["modifyvm", :id, "--memory", vm_mem]
    end
    slave4.vm.hostname = "$slave4_name.localdomain"
    slave4.vm.network :private_network, ip: "$slave4_ip"
  end

  config.vm.provision :shell, :inline => $host_script
  config.vm.provision :puppet do |puppet|
    puppet.manifests_path = '../puppet/manifests'
    puppet.manifest_file = 'site.pp'
    puppet.module_path = '../puppet/modules'
    puppet.options = '--verbose --debug'
    puppet.facter = {
        "os_maj_version"  => '6',
        "architecture"    => 'x86_64'
    }
  end
end
